Source: libsara
Maintainer: Salvatore Mesoraca <s.mesoraca16@gmail.com>
Section: devel
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://smeso.it/sara

Package: libsara0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: S.A.R.A.'s library.
 libsara can be used to query or change S.A.R.A.'s WX Protections
 flags.

Package: libsara-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: S.A.R.A.'s library dev files.
 libsara can be used to query or change S.A.R.A.'s WX Protections
 flags.
